@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

/* ProprietÓ della barra header */

.header {
	height:100px;
	position:fixed;
	top:0;
	width: 100%;
	background-color: #fff;
}

/* ProprietÓ del logo */

.logo {
	font-family: 'Ubuntu Mono', sans-serif;
	float:left;
	width: fit-content;
	font-size: 70px;
	color: black;
	text-decoration: none;
}

.logo:hover {
	color: rgb(0,30,255);
	transition-duration: 0.3s;
	text-decoration: none;
}

.logo a {
    color: rgb(0,0,0);
    text-decoration: none;
}

/* ProprietÓ del menu principale */

.top-menu{
    margin-left:300px;
    width:calc(100% - 300px)
}

.menu{
    color: rgb(255,255,255);
    display:inline-block;
    font-family: 'Ubuntu';
    font-size: 2.5em;
    height:fit-content;
    margin: auto;
    width:740px;
	position: absolute;
	top: 45%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0px;
}

.menu li {
    color: #000;
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
}

.menu li a {
    color: #000;
    transition-duration: 0.3s;
	padding-left: 20px;
	padding-right: 8px;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
	color: rgb(0,30,255);
}

/* Spacing dei contenuti */

.h100px {
	height: 100px;
}

.content {
	margin: auto;
	max-width: 1280px;
	display: flow-root;
}

.center {
	margin: auto;
	max-width: 1280px;
	width: fit-content;
	height: fit-content;
	display: flow-root;
}

/* ProprietÓ dei bottoni */

.homebutton {
	width: 300px;
	float: left;
	margin-left: 160px;
	margin-right:160px;
	margin-bottom: 50px;
	margin-top: 30px;
	text-align: center;
	border: 2px solid #000;
	color: #000;
}

.homebutton:hover {
	color: rgb(0,30,255);
	border-color: rgb(0,30,255);
    transition-duration: 0.3s;
}

.homebutton .name {
	font-size: 2em;
	width:100%;
	font-family: 'Ubuntu Mono', sans-serif;
	margin-bottom: 10px;
}

.homebutton .icon {
	font-size: 3.5em;
	width:100%;
	margin-top: 20px;
	margin-bottom: 10px;
}
