<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link rel='stylesheet' href='/css/style.css' />
<title>Informazioni accessorio</title>
<style>
   table {border-collapse:collapse; table-layout:fixed;}
   table td {border:solid 2px ; width:350px; word-wrap:break-word;}</style>
</head>
<body>
	<div th:replace="header :: header"></div>
	
	<div class="content">

	<div class='condizioni' th:if="${condizioni != null}">
	<table>
		<tr>
			<td>Condizioni di <span th:text="${accessorio.nome}">nomeoggetto</span></td>
			<td><a th:href="@{'/avviaCondizioni'+'/'+${condizioni.id}}">Modifica condizioni</a></td>
		</tr>
		<tr>			
			<td
				th:text="'Condizioni oggetto: ' + ${condizioni.condizioniOggetto}"></td>
			<td th:if="${condizioni.comprendeManuale}"
				th:text="'Condizioni Manuale: ' + ${condizioni.condizioniManuale}"></td>
			<td th:if="${condizioni.comprendeScatola}"
				th:text="'Condizioni Scatola: ' +${condizioni.condizioniScatola}"></td>
			<td th:if="${condizioni.comprendeExtra}"
				th:text="'Condizioni Extra: ' +${condizioni.condizioniExtra}"></td>
		</tr>
	</table>
	<br>
	</div>


	<table>
	<tbody>
		<tr>
			<td> Nome: <span th:text="${accessorio.nome}">quivanome</span></td>
		</tr>
		<tr>
			<td> Piattaforma: <a th:href="@{'/piattaforma'+'/'+${accessorio.piattaforma.id}}" th:utext="${accessorio.piattaforma.nome + '<br/>'}">nomepiattaforma</a></td>
		</tr>
		<tr>
			<td> <img th:if="${accessorio.immagine.id != null}" th:src="${accessorio.immagine.url}" alt="Foto dell'accessorio" width="100%" height="auto"></td>
		</tr>
	</tbody>
	</table>
		
	</div>
</body>
</html>