<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link rel='stylesheet' href='/css/style.css' />
<title>Accessori dell'utente</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	<div class="content">
	<p>
		<a href="/utente/iniziaAggiuntaAccessorio">Nuovo accessorio</a>
	</p>
	<div>
		<h4>Accessori</h4>
		<ul>
			<li th:each="accessorio : ${accessoriPosseduti}">
				<a th:href="@{'/vediCondizioni'+'/'+${accessorio.id}}"
				th:text=${accessorio.oggettoRiferimento.nome}>nomeaccessorio</a>
			</li>
		</ul>
	</div>
	</div>
</body>
</html>