<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link rel='stylesheet' href='/css/style.css' />
<title>Aggiungi gioco</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	<div class="content">
	<form th:action="@{/admin/registraNuovoGioco}" method="POST"
		th:object="${form}">
		<table>
		<tr><td>I campi contrassegnati con * sono obbligatori</td></tr>
			<tr>
				<td>Titolo*:</td>
				<td><input type="text" th:field="*{nome}" /></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
			</tr>
			<tr>
				<td>Data Rilascio:</td>
				<td><input type="date" th:field="*{dataRilascio}" /></td>
			</tr>
			<tr>
				<td>Seleziona la piattaforma*:</td>
				<td>
					<ul>
						<li th:each="piattaforma : ${piattaforme}"><input
							type="radio" th:field="*{piattaforma}"
							th:value="${piattaforma.id}" /> <label th:for="${piattaforma}"
							th:text="${piattaforma.nome}"></label> <span
							th:if="${#fields.hasErrors('piattaforma')}"
							th:errors="*{piattaforma}"></span></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>Seleziona la valutazione eta'</td>
				<td><ul>
						<li th:each="rat : ${rating}"><input type="radio"
							th:field="*{valutazioneEta}" th:value="${rat}" /> <label
							th:for="${rat}" th:text="${rat}"></label></li>
					</ul></td>
			</tr>
			<tr>
				<td>Genere:</td>
				<td><input type="text" th:field="*{genere}" /></td>
			</tr>
			<tr>
				<td>Numero massimo giocatori:</td>
				<td><input type="number" th:field="*{numeroMassimoGiocatori}" /></td>
			</tr>
			<tr>
				<td>Ha funzione cooperativa:</td>
				<td><input type="checkbox" th:field="*{haModalitaCoop}" /></td>
			</tr>
			<tr>
				<td>ID video youtube:</td>
				<td><input type="text" th:field="*{linkVideoYoutube}" /></td>
			</tr>
			<tr>
				<td>Editore:</td>
				<td><input type="text" th:field="*{editore}" /></td>
			</tr>
			<tr>
				<td>Sviluppatore:</td>
				<td><input type="text" th:field="*{sviluppatore}" /></td>
			</tr>
			<tr>
				<td>Link FRONT COVER:</td>
				<td><input type="url" th:field="*{urlFRONTCOVER}" /></td>
			</tr>
						<tr>
				<td>Link BACK COVER:</td>
				<td><input type="url" th:field="*{urlBACKCOVER}" /></td>
			</tr>
						<tr>
				<td>Link SCREENSHOT:</td>
				<td><input type="url" th:field="*{urlSCREENSHOT}" /></td>
			</tr>
						<tr>
				<td>Link LOGO:</td>
				<td><input type="url" th:field="*{urlLOGO}" /></td>
			</tr>
						<tr>
				<td>Link FANART:</td>
				<td><input type="url" th:field="*{urlFANART}" /></td>
			</tr>
						<tr>
				<td>Link BANNER:</td>
				<td><input type="url" th:field="*{urlBANNER}" /></td>
			</tr>
			<tr>
				<td><button type="submit">Invio</button></td>
				<td><input type="reset"></td>
			</tr>
		</table>
	</form>
	</div>
</body>
</html>