<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link rel='stylesheet' href='/css/style.css' />
<title>Aggiungi accessorio</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	<div class="content">
	<form th:action="@{/admin/registraNuovoAccessorio}" method="POST"
		th:object="${accessorio}">
		<table>
			<tr>
				<td>Nome*:</td>
				<td><input type="text" th:field="*{nome}" /></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
			</tr>
			<tr>
				<td>Seleziona la piattaforma*:</td>
				<td>
					<ul>
						<li th:each="piattaforma : ${piattaforme}">
							<input type="radio" th:field="*{piattaforma}" th:value="${piattaforma.id}"/>
							<label th:for="${piattaforma}" th:text="${piattaforma.nome}"></label>
							<span th:if="${#fields.hasErrors('piattaforma')}" th:errors="*{piattaforma}"></span>
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>Immagine:</td> <td> <input type="text" th:field="*{immagine.url}" /> </td>
			</tr>
			<tr>
				<td><button type="submit">Invio</button></td>
			</tr>
		</table>
	</form>
	</div>
</body>
</html>