<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link rel='stylesheet' href='/css/style.css' />
<title>Modifica condizioni dell'oggetto</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	<div class="content">
	<form th:action="@{/accettaCondizioni}" method="POST"
		th:object="${condizioni}">
		<table>
			<tr>
				<td>Condizioni di <span th:text="${oggetto.nome}">nomeoggetto</span></td>
			</tr>
			<tr>
				<td><input type="number" th:field="*{condizioniOggetto}"
					min="0" max="10" /> <label>Oggetto</label></td>
			</tr>
			<tr>
				<td><input type="checkbox" th:field="*{comprendeManuale}"
					th:value="${comprendeManuale}" /> <label>Manuale</label> <input
					type="number" th:field="*{condizioniManuale}" min="0" max="10"
					th:disabled="${comprendeManuale}"> <label>Voto</label></td>
			</tr>
			<tr>
				<td><input type="checkbox" th:field="*{comprendeScatola}"
					th:value="${comprendeScatola}" /> <label>Scatola</label> <input
					type="number" th:field="*{condizioniScatola}" min="0" max="10"
					th:disabled="${comprendeScatola}" /> <label>Voto</label></td>
			</tr>
			<tr>
				<td><input type="checkbox" th:field="*{comprendeExtra}"
					th:value="${comprendeExtra}" /> <label>Extra</label> <input
					type="number" th:field="*{condizioniExtra}" min="0" max="10"
					th:disabled="${comprendeExtra}" /> <label>Voto</label></td>
			</tr>
			<tr>
				<td><button type="submit">Salva</button></td>
			</tr>
		</table>
	</form>
	</div>
</body>
</html>