<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link rel='stylesheet' href='/css/style.css' />
<title>Consoles dell'utente</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	<div class="content">
	<p>
		<a href="/utente/iniziaAggiuntaConsole">Nuova console</a>
	</p>
	<div>
		<h4>Console</h4>
		<ul>
			<li th:each="console : ${consolePossedute}">
				<a th:href="@{'/vediCondizioni'+'/'+${console.id}}"
				th:text=${console.oggettoRiferimento.nome}>nomeconsole</a>
			</li>
		</ul>
	</div>
	</div>
</body>
</html>