<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link rel='stylesheet' href='/css/style.css' />
<title>Informazioni gioco</title>
<style>
table {
	border-collapse: collapse;
	table-layout: fixed;
}

table td {
	border: solid 2px;
	width: 350px;
	word-wrap: break-word;
}
</style>
</head>
<body>
	<div th:replace="header :: header"></div>
	<div class="content">

	<div class='condizioni' th:if="${condizioni != null}">
	<table>
		<tr>
			<td>Condizioni di <span th:text="${gioco.nome}">nomeoggetto</span></td>
			<td><a th:href="@{'/avviaCondizioni'+'/'+${condizioni.id}}">Modifica condizioni</a></td>
		</tr>
		<tr>			
			<td
				th:text="'Condizioni oggetto: ' + ${condizioni.condizioniOggetto}"></td>
			<td th:if="${condizioni.comprendeManuale}"
				th:text="'Condizioni Manuale: ' + ${condizioni.condizioniManuale}"></td>
			<td th:if="${condizioni.comprendeScatola}"
				th:text="'Condizioni Scatola: ' +${condizioni.condizioniScatola}"></td>
			<td th:if="${condizioni.comprendeExtra}"
				th:text="'Condizioni Extra: ' +${condizioni.condizioniExtra}"></td>
		</tr>
	</table>
	<br>
	</div>

	<table>
		<tbody>
			<tr>
				<td>Titolo: <span th:text="${gioco.nome}">quivanome</span> <img
					th:if="${logo != null}" th:src="${logo.url}" alt="Logo del gioco"
					width="30%" height="auto">
				</td>
				<td><span th:if="${gioco.editore != null}"
					th:utext="${'Editore: ' + gioco.editore + '<br/>'}"></span> <span
					th:if="${gioco.sviluppatore != null}"
					th:text="${'Sviluppatore: ' + gioco.sviluppatore}"></span></td>
				<td><img th:if="${banner != null}" th:src="${banner.url}"
					alt="Banner del gioco" width="100%" height="auto"></td>
			</tr>
			<tr>
				<td>Piattaforma: <a
					th:href="@{'/piattaforma'+'/'+${gioco.piattaforma.id}}"
					th:utext="${gioco.piattaforma.nome + '<br/>'}">nomepiattaforma</a>
					<span th:if="${gioco.dataRilascio != null}"
					th:utext="${'Data di rilascio: ' + gioco.dataRilascio + '<br/>'}"></span>
					<span th:if="${gioco.descrizione != null}"
					th:utext="${'Descrizione: '+ gioco.descrizione + '<br/>'}"></span>
					<span th:if="${gioco.genere != null}"
					th:utext="${'Genere: ' + gioco.genere + '<br/>'}"></span> <span
					th:if="${gioco.numeroMassimoGiocatori != null}"
					th:utext="${'Numero massimo giocatori: ' + gioco.numeroMassimoGiocatori + '<br/>'}"></span>
					<span th:switch="${gioco.haModalitaCoop}"> 
 					<span th:case="true">Il gioco dispone di funzione cooperativa</span>
  					<span th:case="false">Il gioco non dispone di funzione cooperativa</span>
					</span>
					<span th:utext="'<br/>' + 'Il gioco ha il seguente rating: ' + '<br/>'"></span>
					<img th:if="${rating != null}" th:src="${rating}"
					alt="Rating del gioco" width="30%" height="auto"></td>
				<td><img th:if="${frontCover != null}"
					th:src="${frontCover.url}" alt="Cover frontale del gioco"
					width="100%" height="auto"></td>
				<td><img th:if="${backCover != null}" th:src="${backCover.url}"
					alt="Cover posteriore del gioco" width="100%" height="auto"></td>
			</tr>
			<tr>
				<td><iframe th:if="${gioco.linkVideoYoutube != ''}"
						height="auto" width="100%"
						th:src="@{https://www.youtube.com/embed/{url}(url=${gioco.linkVideoYoutube})}"></iframe>
				</td>
				<td><img th:if="${fanArt != null}" th:src="${fanArt.url}"
					alt="Fan Art del gioco" width="100%" height="auto"></td>
				<td><img th:if="${screenshot != null}"
					th:src="${screenshot.url}" alt="Screenshot del gioco" width="100%"
					height="auto"></td>
			</tr>
		</tbody>
	</table>
	
	</div>
</body>
</html>