<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link rel='stylesheet' href='/css/style.css' />
<title>Giochi dell'utente</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	<div class="content">
	<p>
		<a href="/utente/iniziaAggiuntaGioco">Nuovo gioco</a>
	</p>
	<div>
		<h4>Giochi</h4>
		<ul>
			<li th:each="gioco : ${giochiPosseduti}">
				<a th:href="@{'/vediCondizioni'+'/'+${gioco.id}}"
				th:text=${gioco.oggettoRiferimento.nome}>nomegioco</a>
			</li>
		</ul>
	</div>
	</div>
</body>
</html>