<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link rel='stylesheet' href='/css/style.css' />
<title>Aggiungi accessori alla collezione</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	<div class="content">
	<form th:action="@{/utente/aggiungiAccessorioPosseduto}" method="POST"
		th:object="${form}">
		<table>
			<tr>
				<td><h4>Lista accessori presenti nel database</h4></td>
			</tr>
			<tr>
				<td>Seleziona l'accessorio:</td>
				<td>
					<ul>
						<li th:each="accessorio : ${listaAccessoriEsistenti}">
						<input type="checkbox" th:field="*{ids}" th:value="${accessorio.id}" checked /> 
						<label th:for="${accessorio}"> <a th:href="@{'/accessorio' + '/' + ${accessorio.id}}" th:text="${accessorio.nome}"></a></label></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td><button type="submit">Invio</button></td>
			</tr>
		</table>
	</form>
	</div>
</body>
</html>