<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link rel='stylesheet' href='/css/style.css' />
<title>Aggiungi console alla collezione</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	<div class="content">
	<form th:action="@{/utente/aggiungiConsolePosseduta}" method="POST"
		th:object="${form}">
		<table>
			<tr>
				<td><h4>Lista console presenti nel database</h4></td>
			</tr>
			<tr>
				<td>Seleziona la console:</td>
				<td>
					<ul>
						<li th:each="console : ${listaConsoleEsistenti}">
						<input type="checkbox" th:field="*{ids}" th:value="${console.id}" checked /> 
						<label th:for="${console}"> <a th:href="@{'/console' + '/' + ${console.id}}" th:text="${console.nome}"></a></label></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td><button type="submit">Invio</button></td>
			</tr>
		</table>
	</form>
	</div>
</body>
</html>