<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link rel='stylesheet' href='/css/style.css' />
<title>Aggiungi giochi alla collezione</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	<div class="content">
	<form th:action="@{/utente/aggiungiGiocoPosseduto}" method="POST"
		th:object="${form}">
		<table>
			<tr>
				<td><h4>Lista giochi presenti nel database</h4></td>
			</tr>
			<tr>
				<td>Seleziona il gioco:</td>
				<td>
					<ul>
						<li th:each="gioco : ${listaGiochiEsistenti}">
						<input type="checkbox" th:field="*{ids}" th:value="${gioco.id}" checked /> 
						<label th:for="${gioco}"> <a th:href="@{'/gioco' + '/' + ${gioco.id}}" th:text="${gioco.nome}"></a></label>
						</li>
					</ul>
				</td>
			</tr>		
			<tr>
				<td><button type="submit">Invio</button></td>
			</tr>
		</table>
	</form>
	</div>
</body>
</html>