<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link rel='stylesheet' href='/css/style.css' />
<title>Lista piattaforme presenti nel database</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	<div class="content">
		<table>
			<tr>
				<td><h4>Lista piattaforme presenti nel database</h4></td>
			</tr>
			<tr>
				<td>
					<ul>
						<li th:each="piattaforma : ${piattaforme}">
						<label th:for="${piattaforma}"> <a th:href="@{'/piattaforma' + '/' + ${piattaforma.id}}" th:text="${piattaforma.nome}"></a></label></li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>