<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<link rel='stylesheet' href='/css/style.css' />
<title>Informazioni piattaforma</title>
<style>
   table {border-collapse:collapse; table-layout:fixed;}
   table td {border:solid 2px ; width:350px; word-wrap:break-word;}</style>
</head>
<body>
	<div th:replace="header :: header"></div>
	
	<div class="content">

	<table>
	<tbody>
		<tr>
			<td> Nome: <span th:text="${piattaforma.nome}">quivanome</span></td>
		</tr>
		<tr>
			<td> Descrizione: <span th:utext="${'</br>' + piattaforma.descrizione}">quivadescrizione</span></td>
		</tr>
		
	</tbody>
	</table>
	</div>
</body>
</html>